# fly.toml file generated for real-bot on 2023-03-17T10:08:36-04:00

app = "real-bot"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "iad"
processes = []

[env]

[experimental]
  auto_rollback = true

[mounts]
  source="real_bot_sqlite"
  destination="/data/real_bot_sqlite"